.contacto {
    background: #dddddd;
}
.contacto__titulo {
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 2rem;
    padding-top: 2rem;
    margin-bottom: 1rem;
    text-align: center;
}
.contacto__texto2 {
    margin-bottom: 1rem;
}
.contacto__img {
    display: none;
}
.contacto__input,
.contacto__textarea {
    width: 100%;
    height: 3.5rem;
    outline: none;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1.1rem;
    background-color: transparent;
    border-bottom: 1px solid gray;
    margin-bottom: 1rem;
    transition: all .5s;
}
.contacto__textarea {
        height: 5rem;
        color: #5a0000;
        transition: all 0.5s;
}

.contacto__input::placeholder,
.contacto__textarea::placeholder {
    color: gray;
    position: absolute;
    top: calc(50% - 0.65rem);
    left: 5%;
}

.contacto__input:focus,
.contacto__textarea:focus {
    border: 1px solid #5a0000;
    border-radius: 1rem;
    outline: none;
}
.contacto__input:focus::placeholder,
.contacto__textarea:focus::placeholder {
    color: #5a0000;
}
.contacto__enviar {
    color: #c3c3c3;
    background: #5a0000;
    padding: .8rem;
    border: 1px solid #5a0000;
    height: 3.5rem;
    width: 10rem;
    margin-bottom: 2rem;
}

@media screen and (min-width: 768px) {
    .contacto__titulo {
        margin-top: 3.5rem;
    }
}
@media screen and (min-width: 1024px) {
    .contacto__img {
        display: unset;
        width: 50%;
    }
    .contacto-container {
        display: flex;
        align-items: center;
    }
    .contacto__texto2 {
        margin-bottom: 0;
    }
}